
<div class="slim-description">
    <p>
        This is where I live on the internet. Support a free and open internet.
        Reach out to me on
        <a
            class="brand-icon"
            target="_blank"
            href="https://github.com/mrprofessor"
        >
            <i class="fab fa-github"></i>
        </a>,
        <a
            class="brand-icon"
            target="_blank"
            href="https://twitter.com/weary_beard"
        >
            <i class="fab fa-twitter"></i>
        </a>
        and
        <a
            class="brand-icon"
            target="_blank"
            href="https://linkedin.com/in/mrprofessor"
        >
            <i class="fab fa-linkedin"></i>
        </a>, or maybe not.
    </p>

</div>
